*{
    padding: 10px;
    box-sizing: border-box;
}
/* Typography -> The way text is arranged and presented*/
body{
    font-size: 18px;
    background-color: pink;
    line-height: 2.5;
    margin-left: 20em;
    border: 10px double red;
    outline: 5px solid purple;
    outline-offset: 10px;
    width: 50%;
}   
h2{
    border: 2px  dashed red;
    width: 50%;
    font-size: 2rem;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-decoration: underline;
    word-spacing: 0.4em;
    letter-spacing: 0.1em;
    line-height: 3em;
    font-weight: 900;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
}

/* let's you define a class , anything defined with class as gray will turn it's color to gray*/
 .gray {
    color:gray;
}

.highlight
{
    text-transform: uppercase;
    background-color: gold;
    color:black;
    font-style: italic;
}

h2{
    color: blue;
}

/*universal select*/
*{
    color: blueviolet;

}
.element{
    width: 100px;
    height: 100px;
    background-color:gold;
    border: 2px solid black;
    outline: 2px solid red;
    outline-offset: 0.5rem;
    margin: 3rem auto;
    border-radius:50px;

}





